<!--

    THIS CODE AND INFORMATION ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS
    FOR A PARTICULAR PURPOSE. THIS CODE AND INFORMATION ARE NOT SUPPORTED BY XEBIALABS.

-->

<div data-ng-controller="serviceNow.ServiceNowQueryTileViewController as serviceNowQueryTile" class="service-now-query-tile">
    <div ng-click="serviceNowQueryTile.refresh()" title="Refresh" class="button primary">
        <i class="glyphicon glyphicon-refresh"></i> Refresh
    </div>
    <div data-ng-if="serviceNowQueryTile.gridOptions && !serviceNowQueryTile.loading" ui-grid="serviceNowQueryTile.gridOptions" class="grid-container" />
    <div data-ng-if="serviceNowQueryTile.loading" class="spinner" style="text-align: center">
        <img src="static/@project.version@/img/big-ajax-loader.gif" alt="Loading..." />
    </div>
</div>
